typing-extensions
rank-bm25
langchain-openai
langchain-experimental
polars
pyarrow
yfinance
praw
feedparser
stockstats
eodhd
langgraph
chromadb
sentence-transformers
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
langchain_anthropic
langchain-google-genai
git+https://github.com/toon-format/toon-python.git
